@import "../../../scss/varieble.scss";
@import "../../../scss/mixin.scss";
.statistika{
    width: 100%;
    height: auto;   
}
.statistika_cards{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    align-items: center;
}
.statistika_card_1{
    width: 30%;
    background: $oq;
    height: 500px;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 8px;
    .statistika_card_1_header{
        @include between;
        width: 50%;
        p{
            padding-right: 1rem;
            border-right: 1px solid #AFAFAF;
        }
        select{
            font-size: 1rem;
            border: 1px solid transparent;
            outline: 1px solid transparent;
        }
    }
    #chart{
        display: flex;  
    }
    .statistika_texts p{
        width: 90%;
        margin: 0 auto;
     }
     .statistika_texts p:nth-child(1)::before{
        content: " ";
        display: inline-block;
        width: 30px;
        height: 30px;
        background: #B2D1FF;
        border-radius: 50%;
        position: relative;
        top: 0.5rem;
        margin-right: 0.5rem;
    }
    .statistika_texts p:nth-child(2)::before{
        content: " ";
        display: inline-block;
        width: 30px;
        height: 30px;
        background: #FEB2B2;
        border-radius: 50%;
        position: relative;
        top: 0.5rem;
        margin-right: 0.5rem;
    }     
    .statistika_texts p:nth-child(3)::before{
        content: " ";
        display: inline-block;
        width: 30px;
        height: 30px;
        background: #B2FEBA;
        border-radius: 50%;
        position: relative;
        top: 0.5rem;
        margin-right: 0.5rem;
    }
}
.statistika_card_2{
    width: 100%;
    margin: 0 auto;
    background: $oq;
    border-radius: 10px;
    padding: 1rem;
}
.statistika_card_examples{
    @include between;
    padding: 1rem;
}
.statistika_card_example{
    width: 200px;
    // border: 1px solid black;
    background: #fff;
    border-radius: 8px;
    // color: ;
    padding: 1.5rem 0.5rem;
}
.statistika_card_example p{
    padding-top: 1rem;
}
@media only screen and (max-width: 1367px){
    .statistika_card_1{
        width: 55%;
        border: 1px solid black;
    }
}